
@viewport { width: device-width; }
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,600');

/* color palette */
:root {
    --transparent: rgba(0,0,0,0.33);
    --grey: #222;
}

/* lines */
.line-1     { background-color: #FFBE00; }
.line-2     { background-color: #0055C8; }
.line-3     { background-color: #6e6e00; }
.line-3bis  { background-color: #82c8e6; }
.line-4     { background-color: #a0006e; }
.line-5     { background-color: #ff5a00; }
.line-6     { background-color: #82dc73; }
.line-7     { background-color: #ff82b4; }
.line-7bis  { background-color: #82dc73; }
.line-8     { background-color: #d282be; }
.line-9     { background-color: #d2d200; }
.line-10    { background-color: #dc9600; }
.line-11    { background-color: #6e491e; }
.line-12    { background-color: #00643c; }
.line-13    { background-color: #82c8e6; }
.line-14    { background-color: #640082; }

/* em + disable horiz scroll */
body {
    font-size: 13px;
    overflow-x: hidden;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 11px;
    }
}

/* margin resets */
body, h1,h2,h3,ul,figcaption,img,figure {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 300;
}

h1,h2,h3 {
    font-family: 'Oswald', sans-serif;
}

p, li, span, caption, figcaption, tr, th, td {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

strong, b {
    font-weight: 400;
    font-size: 1.15em;
}

i, em {
    /* italics in many of our fonts move the italicized text too close to the next inline-element */
    /* add some space to fix this */
    margin-right: 0.1em;
}

/* grid */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:  'header' 'main' 'footer';

}

header {
    grid-area: header;
}

main {
    grid-area: main;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

footer {
    grid-area: footer;
}

/* hide an element from view */
/* use case:
    sections require a child heading in order to pass validation without warning
    we use hidden on these section headings to give context to screen readers, scrapers & users with css disabled
*/
.hidden {
    grid-column: 999; /* will never interrupt grid flow */
    display: none; /* hide in older browsers */
    visibility: hidden; /* hide in modern browsers */
}

/* jumbotron styling */
.jumbotron {
    font-size: 3em;
    font-weight: 200;
    background-position: center center;
    background-color: #222;
    text-align: center;

    text-shadow: 0.05em 0.05em 2px #222;

    display: grid;
    grid-template-rows: fit-content(100%);
    grid-template-columns: 100%;

    color: white;

}

.jumbotron h2 {
    padding: 0.25em 0;
}

@media only screen and (min-width: 768px) {
    .jumbotron {

        grid-template-rows: fit-content(100%);
        grid-template-columns: 50% 50%;
        padding: 0;
   
        background-repeat: no-repeat;
        overflow: hidden;
    }


}

.jumbotron p {
    font-size: 0.5em;
    margin: 1em 0.5em;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* fading list */
.fade-list li
{
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.fade-list li:nth-child(0) {  animation-delay: 1s; }
.fade-list li:nth-child(1) {  animation-delay: 2s; }
.fade-list li:nth-child(2) {  animation-delay: 3s; }
.fade-list li:nth-child(3) {  animation-delay: 4s; }
.fade-list li:nth-child(4) {  animation-delay: 5s; }