
:root {
    --p1-yscale: 0px;
}

header
{

}

/* the header scroll image is implemented as a pseudo element */
/* this is moved at a ratio of the amount the user has scrolled down in js found in js/header.js */
header::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    /* make our before same size as header */
    width: 100%;
    height: 30em;
    

    z-index: -1;
    background-image: url("../img/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size:     100%;
    background-position: center 12.5%;

    transform: perspective(1500px) translateY(var(--p1-yscale));

    transition: 1s;
}

@media only screen and (max-width: 960px)
{
    /* turn off parallax on mobile, disorients users */
    header::before {
        display: none;
    }

    header /* just use regular placement */
    {
        background-image: url("../img/jumbotron.jpg");
        background-repeat: no-repeat;
        background-size:     85%;
        background-position: center 12.5%;
    }
}