
header {
    background-color: var(--transparent);
    box-shadow: 0 0 0.5em var(--transparent);
    width: 100vw;

    /* header is floated on mobile */
    position: fixed;
    top: 0;
    left: 0;

    z-index: 100; /* draw above content */
}

header h1 {
    font-size: 2em;
    text-align: center;

    text-shadow: 2px 2px #22222266;

    position: relative;
    z-index: inherit;
    line-height: 2em;
}


header h1::first-letter {
    color: #0055c8;
    font-size: 120%;
    margin-right: 0.125em;
}