@import url('global.css');
@import url('header.css');
@import url('nav.css');
@import url('footer.css');

#density {
    padding-top: 2em;
    color: white;

    background-image: 
        linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), 
        linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.50)),
        url("../img/jumbotron_compressed.jpg");
    background-color: white;
    background-blend-mode: darken,  overlay, normal;
    background-position: center top;
    background-size: auto 95%;
    background-repeat: no-repeat;
}

#density ul {
    background-color: white;

    padding: 1em 0;
    font-size: 0.5em;
    box-shadow: 0 0 2em var(--transparent);
    
    text-align: center;
    font-size: 0.8em;
}

#density li {
    color: black;
    text-shadow: none;
}

/* disable train svg on mobile */
#density img {
    display: none;
}

#driverless-video {
    width: 100%;
}

#map {
    width: 100vw;
    max-height: 8em;
    overflow: hidden;
}

#map img {
    height: 100%;
    width: 100vw;
}

#map figcaption {
    display: none;
}

#beaut {
    grid-template-columns: 100%;
    height: 12em;
    max-height: 12em;
    
    overflow: hidden;


    background-image: 
        linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), 
        linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.50)),
        url("../img/artdemetier.jpg");
    background-color: white;
    background-blend-mode: darken,  overlay, normal;
    background-position: center center;
    
    background-size: cover;
    background-repeat: no-repeat;
}

#beaut h2 {
    margin-top: 3em;
    padding: 0.25em;
}

#beaut i {
    font-size: 0.8em;
}

@media only screen and (min-width: 768px) {
    .jumbotron h2 {
        padding: 0;
    }

    #density {
        padding: 2em;

        background-size: 100%;
        background-position: center 22%;

        text-align: left;
        
        grid-template-columns: 55% 45%;
        padding: 4em 2em 2em 2em;
    }

    #density ul {
        background: none;
        box-shadow: none;


        font-size: 0.60em;
        
        height: 100%;
        color: white;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    #density p, #density h1, #density li {
        text-shadow: 2px 2px 2px black;
        position: relative;
        color: white;
        z-index: 10;
    }


    @keyframes ltr {
        from { left: -250em; }
        to { left: 250em; }
    }

    /* train svg animation */
    #density img {
        display: block;
        position: relative;
        z-index: 5; /* display train behind headings and list */
        height: 6em;
        margin-bottom: -12em;
        top: -2em;

        animation-name: ltr;
        animation-duration: 12s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        filter: grayscale(100%) contrast(50%) brightness(10%);

        opacity: 0.7;
    }

    #driverless {
        grid-template-columns: 45% 55%;
        background: var(--grey);
        box-shadow: inset 0 0 2em rgba(0,0,0,0.15);
        overflow: hidden;
    }

    #driverless video {
        width: 100%;
        height: 100%;
        min-width: 100%;

        object-fit: cover;
        clip-path: ellipse(75% 125% at 25% 50%);
    }

    #driverless section {
        text-align: right;
        padding: 2em;
    }
}
