
@import url("global.css");
@import url("header.css");
@import url("nav.css");




figcaption
{
    font-family: "Open Sans", sans-serif;

    text-align: center;
    font-style: italic;
    font-size: 0.8em;

}

header
{
    text-align: center;
}


main {
    box-shadow: 0px 0px 1.5em rgba(0,0,0,0.35);
    background-color: white;
}

main > section
{
    display: grid;
    grid-template-columns: 66% 33%;
    padding: 1.2em 1em;
}

@media only screen and (max-width: 960px)
{
    main > section
    {
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        padding: 1em;
    }
}

main figure
{
    width: 100%;
    overflow: hidden;
    margin: 0;
}

main figure img
{
    width: 100vw;
    max-width: 100%;
}

#map, #map img, #map figcaption
{
    opacity: 0;

    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 4s;

    border-radius: 50% 50%;

    /* keep above train */
    position: relative;
    z-index: 3;
}

@media only screen and (max-width: 960px)
{
    #map
    {
        border-radius: none; 
    }
}

#map img
{
    transform: scale(2.2);
    transform-origin: top center;
    overflow: hidden;
}

#map img + figcaption
{
    display: block;
    background-color: rgba(33,33,33,0.75);
    padding: 0.2em;
    color: white;

    position: relative;
    z-index: 2;
    margin-bottom: 2em;
    text-shadow: 1px 1px 2px rgba(44,44,44,0.85);
    font-weight: 500;

    position: relative;
    z-index: 2;
}

@keyframes pass-left-right {
    from { left: -250vw; }
    to { left: 250vw; }
}

#train
{
    display: block;
    opacity: 0.8;

    position: relative;
    z-index: 1;
    animation: pass-left-right 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    
    
    padding: 0;

    height: 7em;
    margin: -7em 0 0 0;
}

/* disabled train on mobile */
@media only screen and (max-width: 960px)
{
    #train {
        visibility: hidden;
        animation: none; /* :( */
    }
}

.fade-list li
{
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.fade-list li:nth-child(0) {  animation-delay: 4s; }
.fade-list li:nth-child(1) {  animation-delay: 5s; }
.fade-list li:nth-child(2) {  animation-delay: 6s; }
.fade-list li:nth-child(3) {  animation-delay: 7s; }
.fade-list li:nth-child(4) {  animation-delay: 8s; }
