
header {
    padding: 1em 0em;

    position: fixed;
    z-index: 99999;
}

header span {
    display: inline-block;

    position: fixed;
    top: 0.5em;
    left: 0.5em;
    cursor: pointer;
    color: white;
    filter: contrast(100%);

    font-size: 1.25em;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 0;
    transition: height 1s;
    z-index: 1;

    background-color: rgba(0,0,0,0.85);

    overflow: hidden;
}


header[extended] h1 span::before {

    content: "❌"; /* &x#274C; <-- html entities not supported in content :( */
    color: white;
    margin-left: 0.1em; /* font irregularity */
}

header[extended] h1 span {
    color: rgba(0,0,0,0); /* workaround: opacity: 0 will hide the ::before element */
    text-shadow: none;
}

header nav[extended] {
    height: 100vh;
}

header nav ul {
    position: relative;
    margin-top: 6em;
    list-style: none;
    
    text-align: center;

    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

header nav li {
    width: 100vw;
    color: white;
    padding: 2vh 0;
    margin: 0;

    font-size: 2em;
    opacity: 1;
    
    cursor: pointer;
}

header nav a {
    color: white;
}


header nav li:nth-child(even) {
    background-color: rgba(0,0,0,0.25);
}

header nav[extended] li:hover {
    background-color: #222;
} 

@media only screen and (min-width: 768px) {
    header {
        display: grid;
        grid-template-rows: fit-content(100%);
        grid-template-columns: 55% 45%;
    }

    header span {
        display: none;
    }

    header h1 {
        text-align: left;
        padding: 0.1em 0 0.1em 3em;
    }

    header nav {
        display: inline-block;
        height: 4em;
        width: 100%;

        position: static;
        background: none;
        
    }

    header nav ul {
        margin: 0;
        margin-right: 8em;

        background: none;
        text-align: right;
        overflow: hidden;

        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 25% 25% 25% 25%;
    }

    header nav li {
        display: block;
        width: 100%;
        line-height: 3em;
        height: 3em;
        padding: 0;
        margin: 0 auto;
        background: none;
        text-align: center;
        font-size: 1.5em;
    }

    header nav li:nth-child(even) {
        background: none;
    }

    header nav li a {
        text-decoration: none;
    }

    /* underline prep */
    header nav li::after
    {
        display: block;
        position: relative;
        top: -1.1em;
        background-color: white;
        content: '';
        margin: 0 auto;

        transition: width 0.5s;
        height: 0.05em;
        width: 40%;

        pointer-events: none; /* stop them clicking on the line */
    }
    /* show underline on hover */
    header nav li:hover::after
    {
        width: 65%;
    }
}