@import url('global.css');
@import url('header.css');
@import url('nav.css');
@import url('footer.css');

#trains-head {
    text-align: center;

    padding: 2em 0.5em;
    padding-bottom: 0.25em;
}

@media only screen and (min-width: 768px) {
    #trains-head {
        padding: 6em 2em;
        text-align: left;
    }
}